@import "../../utils/colors.scss";

.input {
    background-color: $colorWhite;

    &__field {
        display: block;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        height: 5rem;
        font-size: 2rem;
        padding: 1rem;
        color: $colorGrayMid;

        &::-webkit-input-placeholder {
            color: $colorGrayLighter; // not working
        }
    }
}