@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.rating {
    background: $colorSecondary;

    &__seen {
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &__seen-label {
        color: $colorWhite;
        text-transform: uppercase;
        font-weight: 500;

    }

    &__seen-icon {
    }

    &__points {
        @include resetList();
        display: flex;
        justify-content: space-between;
    }

    &__point {
        cursor: pointer;
    }

    &__point-button {
        @include resetButton();
    }

    &__point-icon {

    }

}