@import "../../utils/colors.scss";

.filter-results {
    background: $colorGrayMid;
    list-style: none outside;
    margin: 0;
    padding: 0;


    &__item {
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        cursor: pointer;
        color: $colorWhite;
        border-top: 1px solid $colorBlack;

        &--selected {
            color: $colorBase;
            font-weight: 700;
            fill: $colorBase;
        }
    }

    &__label {
        color: inherit;
        font-size: 1.2rem;
    }

    &__icon {

    }
}