.filter-results {
  background: #1c1c1c;
  list-style: none outside;
  margin: 0;
  padding: 0; }
  .filter-results__item {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    cursor: pointer;
    color: #fff;
    border-top: 1px solid #151515; }
    .filter-results__item--selected {
      color: #ef662f;
      font-weight: 700;
      fill: #ef662f; }
  .filter-results__label {
    color: inherit;
    font-size: 1.2rem; }
