@import "../../utils/colors.scss";

.filter-name {
    background-color: $colorBlack;
    color: $colorGrayLighter;
    padding: 0 4rem;
    fill: $colorGrayLighter;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--active {
        border-left: 1rem solid $colorSecondary;
        background: $colorGrayLight;
        color: $colorWhite;
        fill: $colorWhite;
        padding-left: 3rem;

    }
    &__name {
        color: inherit;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 4rem;
        display: block;

    }

    &--icon {
        &--plus {
        }

        &--minus {
        }
    }
}