.main-search {
  position: relative; }
  .main-search__icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle; }
  .main-search__label {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 3rem;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    pointer-events: none; }
    .main-search__label--hidden {
      display: none; }
  .main-search__label-text {
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 2.5rem; }
  .main-search__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 3rem;
    border: none;
    text-align: center;
    color: #fff;
    letter-spacing: 1px; }
