@import "../../utils/colors.scss";

.app-logo {
    text-transform: uppercase;
    font-weight: 700;
    color: $colorWhite;
    text-align: center;
    background: $colorBase;
    font-size: 2rem;
    height: 6rem;
    line-height: 6rem;
}