@import "../../utils/colors.scss";

.search-bar {
    background-color: $colorSecondary;
    height: 6rem;
    position: relative;

    &__input {
        height: 100%;
        width: 100%;
        padding: 0 10rem;

    }

    &__icon {
        position: absolute;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        top: 50%;
        right: 5rem;
        transform: translateY(-50%);
    }
}