.search-bar {
  background-color: #b0502a;
  height: 6rem; }
  .search-bar__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 3rem;
    border: none;
    text-align: center;
    color: #fff; }
