@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "./fonts.scss";
@import "./colors.scss";

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Now", sans-serif;

    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}