.app {
  display: flex;
  background-color: #202d39;
  min-height: 100vh; }
  .app__sidebar {
    width: 30rem;
    background: #151515; }
  .app__main {
    flex-grow: 1; }
  .app__content {
    padding: 4rem; }
