@import "../../utils/colors.scss";

.issue {
    position: relative;
    overflow: hidden;

    &:hover {
        & > .issue__metadata {
            opacity: 1;
        }

        & > .issue__cover {
            filter: blur(2px);
            transform: scale(1.1);
        }
    }

    &__cover {
        display: block;
        width: 100%;
        transition: transform 0.2s;
    }

    &__metadata {
        opacity: 0;
        transition: opacity 0.2s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba($colorBlack, 0.6);
        padding: 1rem;
    }

    &__title {
        color: $colorWhite;
    }
}